{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "forceAllTransforms": true
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "babel-plugin-transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "debug": false
          }
        ],
        "@babel/react"
      ]
    }
  }
}
